:root {
	--main: #101828;
	--gray: #8d929a;
	--gray-light: #dadde1;
	--badges: #f2f4f7;
	--inputs: #f7f7f7;
	--white: #fff;
	--button: #3470ff;
	--button-hover: #0b44cd;
}

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
}