.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--badges);
  z-index: 999;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  gap: 32px;
}

.link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
}

.active {
  color: var(--button-hover);
}
