.carsList {
    display: flex;
    flex-wrap: wrap;
  gap: 48px 32px;
  margin-bottom: 80px;
}

.errorText {
  text-align: center;
  color: rgb(136, 19, 19);
  font-size: 18px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
}