.hero {
  padding-top: 436px;
  padding-bottom: 60px;
  background-image: url(../../assets/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--white);
  text-align: center;
}

@media screen and(-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../assets/hero@2x.jpg);
  }
}

.title {
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 20px;
  line-height: 133%;
  margin-bottom: 40px;
}

.link {
  margin: 0 auto;
  border-radius: 12px;
  padding: 12px 88px;
  width: 276px;
  background-color: var(--button);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  transition: background-color 250ms linear;
  &:hover,
  :focus {
    background-color: var(--button-hover);
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 60px;
  }
}
